.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 93vh;
}

.cardSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.logo {
  font-size: 4em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #a976eb;
}

.strong {
  color: #6a46be;
}

.description {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #a976eb;
  text-align: center;
}
